*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../pics/bg.jpeg);
}

.tablebg{
    background-color:rgba(248, 247, 252, 0.596);
    overflow-y: scroll;
    height: 650px;
    width: 40%;
    font-weight:700;
    margin-left:53%;
   
}

.strikeout {
    color:rgb(247, 9, 48);
    text-decoration: line-through;
    /* background-color: cornflowerblue; */
  }

#head1{
      border: solid 1;
      background-color: rgba(30, 196, 85, 0.829);
      padding: 8px;
      border-radius: 6px;
      color: rgb(23, 65, 102);
  }

 